/*=======================================================================------------====================================================================
   Responsive
    =======================================================================------------====================================================================
    */


    @media only screen and (max-width:768px) {
        


        .container-all{
            width:100%;
            /* margin:auto; */
        }
        .logo-img{
            width:40px;
        }
        
        .bg-nav{
            background:#2f3338;
         }
         .nav-name{
            font-size:16px;
        }

        .profile-area{
            width:100%;
            margin-top:100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            }
            .profile img{
                width:70%;
            }
            .profile-info{
                width: 90%;
                margin-top: 75px;
            }

            /* .active-bg-1{
                
                right: 22%;
                top: 62%;
            } */

           
            .profile-info a{
            
                height:45px;
                width:143px;
                
                padding: 5px 5px;
                text-align: center;
            }

            .universe{
                width:80%;
                display: flex;
                align-items: center;
                flex-direction: column;
                margin-top: 30px;
                text-align: center;
            }

            .universe h5{
                font-size: 17px;
            }
            
            .universe svg{
                margin-left:0;
            }


            .about{
                width:90%;
            }

/* what i do  */



        .skill-boxs{
            flex-direction: column;
            align-items: center;
        }

        .skill-box{
            margin-left: 0;
            margin-bottom: 50px;
        }

        /* my-ditail */
        .my-ditails{
            flex-direction: column;
            align-items: center;
        }


        /* My Skills */
        .skills{
            flex-direction: column;
            height:auto;
            margin-right:0;
        }
        .skill{
            margin:0;
        }
        .re-meter{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: row-reverse;
            width: 100%;
        }

        /* My identity  */


        .my-all-identity {
            width: 100%;
            height: 1600px;
            margin-top: 80px;
            flex-direction: column;
            height:auto;

        }

        .start-nav-area {
            width: 100%;
            height: auto;
            border-top-left-radius: 30px;
        }
        .active-bg{
            right: 29%;
            top: 59%;
            
        }
        .middle-nav-area {
            width: 100%;
            height: auto;
            margin-top: 80px;
            
        }


        .head-text {
            width:auto;
            width: 90%;
            margin: auto;
        }

        .text-img{
            flex-direction: column;
            height: auto;
            padding: 50px 0 0 0;
        }
        .head-text h3, .head-text h3 span {
            /* margin-bottom: 30px; */
            font-size: 20px;
        }



        .end-nav-area{
        display: none;
        }

        .servise-head {
            width: 90%;
        }


        .servises-box {
            grid-template-columns: repeat(1, 1fr);
        }
        /* Get in touch */

        .get-touch input, .get-touch textarea{
        width: 90%;
        margin: auto;
        }

        form{
                width: 80%;
        }


                
        .form-margin{
            margin-left:0;
        }
    }


    @media only screen and (max-width:360px) {
        .logo-img{
            width:25px;
        }
        
        .bg-nav{
            background:#2f3338;
         }
         .nav-name{
            font-size:12px;
        }

        .profile-area{
            width:100%;
            margin-top:100px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column-reverse;
            }
            .profile img{
                width:70%;
            }


            .wrapper .dynamic-txts{
                
                height: 20px;
                line-height: 20px;
               
                
            }


            .dynamic-txts li{
               
                
                font-size: 15px;
                
                top: 0;
               
            }

            @keyframes slide {
                100%{
                    top: -80px;
                }
            }
            
            
            /* .active-bg-1{
                width: 26px;
                height: 26px;
                right: 22.5%;
                top: 60%;
            }
            

            .active-color-1{
                width:18px;
                height:18px;
                
            } */

            .active-bg{
                right: 30%;
                top: 58%;
            }
            .head-text h3, .head-text h3 span{
                /* margin-bottom: 30px; */
                font-size: 18px;
            }

            
    }